<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<Forms>
    <Form Class="Window" LAnchorPoint="0" LAnchorOffset="25" TAnchorPoint="0" TAnchorOffset="10" RAnchorPoint="0" RAnchorOffset="635" BAnchorPoint="0" BAnchorOffset="689" RelativeToClient="0" Font="Default" Text="" Template="defa" Name="SettingsForm" Border="1" Picture="1" SwallowMouseClicks="1" Moveable="1" Escapable="1" Overlapped="1" BGColor="ffffffff" TextColor="ffffffff" TextId="" TooltipColor="" Tooltip="" UseTemplateBG="0" Sizable="0">
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="580" TAnchorPoint="0" TAnchorOffset="58" RAnchorPoint="0" RAnchorOffset="1048" BAnchorPoint="0" BAnchorOffset="677" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Holo_Large" TooltipType="OnCursor" Name="ModulesPopout" TooltipColor="" Border="1" IgnoreMouse="0" NoClip="1" Overlapped="1" UseTemplateBG="1" NewWindowDepth="1" Tooltip="">
            <Control Class="Window" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0" BAnchorOffset="30" RelativeToClient="1" Font="CRB_HeaderLarge" Text="Modules" BGColor="UI_WindowBGDefault" TextColor="UI_BtnTextGoldListNormal" Template="Default" TooltipType="OnCursor" Name="ModulesPopoutTitle" TooltipColor="" TextId="" DT_CENTER="1" DT_VCENTER="1"/>
            <Control Class="Window" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="40" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="0" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Holo_ScrollListSmall" TooltipType="OnCursor" Name="ModulesContainer" TooltipColor="" Border="1" IgnoreMouse="1" UseTemplateBG="1" Sprite="" Picture="1" VScroll="1"/>
        </Control>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="25" TAnchorPoint="0" TAnchorOffset="64" RAnchorPoint="1" RAnchorOffset="-25" BAnchorPoint="1" BAnchorOffset="-85" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Holo_Background_General" TooltipType="OnCursor" Name="WindowBackground" TooltipColor="" Picture="1" IgnoreMouse="1" UseTemplateBG="1" Border="1" Overlapped="0" NewWindowDepth="1"/>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="0" RelativeToClient="1" Font="CRB_Button" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Metal_Primary_Nav" TooltipType="OnCursor" Name="WindowFrame" TooltipColor="" Picture="1" IgnoreMouse="1" Border="1" Visible="1" HideInEditor="0" LeftEdgeControlsAnchor="" UseTemplateBG="1" NoClip="0" Overlapped="0" NewWindowDepth="1"/>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="53" TAnchorPoint="0" TAnchorOffset="30" RAnchorPoint="1" RAnchorOffset="-50" BAnchorPoint="0" BAnchorOffset="65" RelativeToClient="1" Font="CRB_HeaderLarge" Text="PurchaseConfirmation Settings" BGColor="ffffffff" TextColor="UI_BtnTextGoldListNormal" Template="Default" TooltipType="OnCursor" Name="WindowTitle" TooltipColor="" Sprite="BK3:sprMetal_Framing_Header" Picture="1" IgnoreMouse="1" TextId="" DT_VCENTER="1" DT_CENTER="1" LeftEdgeControlsAnchor="" NewWindowDepth="1" Border="1">
            <Control Class="Window" LAnchorPoint="1" LAnchorOffset="-100" TAnchorPoint="0" TAnchorOffset="5" RAnchorPoint="1" RAnchorOffset="-20" BAnchorPoint="1" BAnchorOffset="-5" RelativeToClient="1" Font="CRB_InterfaceTiny_BB" Text="v1.0.0" BGColor="UI_WindowBGDefault" TextColor="UI_BtnTextGoldListNormal" Template="Default" TooltipType="OnCursor" Name="VersionLabel" TooltipColor="" TextId="" DT_RIGHT="1" DT_VCENTER="0" DT_BOTTOM="1"/>
        </Control>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="35" TAnchorPoint="0" TAnchorOffset="144" RAnchorPoint="1" RAnchorOffset="-35" BAnchorPoint="1" BAnchorOffset="-100" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="CurrencyTabArea" TooltipColor="" IgnoreMouse="1" NewWindowDepth="1"/>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="1" TAnchorOffset="-100" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="0" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="Footer" TooltipColor="" IgnoreMouse="1" NewWindowDepth="1">
            <Control Class="Window" LAnchorPoint="0" LAnchorOffset="25" TAnchorPoint="1" TAnchorOffset="-100" RAnchorPoint="1" RAnchorOffset="-25" BAnchorPoint="1" BAnchorOffset="-20" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="WindowFrame" TooltipColor="" Sprite="BK3:UI_BK3_Metal_Footer_Large" Picture="1" IgnoreMouse="1" Border="0" NewWindowDepth="1"/>
            <Control Class="Button" Base="CRB_Basekit:kitBtn_Metal_LargeGreen" Font="CRB_Button" ButtonType="PushButton" RadioGroup="" LAnchorPoint="1" LAnchorOffset="-380" TAnchorPoint="1" TAnchorOffset="-83" RAnchorPoint="1" RAnchorOffset="-260" BAnchorPoint="1" BAnchorOffset="-35" DT_VCENTER="1" DT_CENTER="1" Name="AcceptButton" BGColor="ffffffff" TextColor="ffffffff" NewControlDepth="2" WindowSoundTemplate="TogglePhys02" TextId="CRB_Accept" Text="" TooltipColor="" NormalTextColor="UI_BtnTextGreenNormal" PressedTextColor="UI_BtnTextGreenPressed" FlybyTextColor="UI_BtnTextGreenFlyby" PressedFlybyTextColor="UI_BtnTextGreenPressedFlyby" DisabledTextColor="UI_BtnTextGreenDisabled" NewWindowDepth="1">
                <Event Name="ButtonSignal" Function="OnAcceptSettings"/>
            </Control>
            <Control Class="Button" Base="CRB_Basekit:kitBtn_Metal_LargeRed" Font="CRB_Button" ButtonType="PushButton" RadioGroup="" LAnchorPoint="1" LAnchorOffset="-260" TAnchorPoint="1" TAnchorOffset="-83" RAnchorPoint="1" RAnchorOffset="-140" BAnchorPoint="1" BAnchorOffset="-35" DT_VCENTER="1" DT_CENTER="1" Name="CancelButton" BGColor="ffffffff" TextColor="ffffffff" NewControlDepth="2" WindowSoundTemplate="TogglePhys03" TextId="Cancel" Text="" TooltipColor="" NormalTextColor="UI_BtnTextRedNormal" PressedTextColor="UI_BtnTextRedPressed" FlybyTextColor="UI_BtnTextRedFlyby" PressedFlybyTextColor="UI_BtnTextRedRedFlyby" DisabledTextColor="UI_BtnTextRedDisabled" NewWindowDepth="1">
                <Event Name="ButtonSignal" Function="OnCancelSettings"/>
            </Control>
            <Control Class="Button" Base="CRB_Basekit:kitBtn_Metal_LargeBlue" Font="CRB_Button" ButtonType="Check" RadioGroup="" LAnchorPoint="1" LAnchorOffset="-130" TAnchorPoint="1" TAnchorOffset="-83" RAnchorPoint="1" RAnchorOffset="-41" BAnchorPoint="1" BAnchorOffset="-35" DT_VCENTER="1" DT_CENTER="1" Name="ModulesButton" BGColor="ffffffff" TextColor="ffffffff" NewControlDepth="2" WindowSoundTemplate="TogglePhys02" TextId="" Text="Modules" TooltipColor="" NormalTextColor="UI_BtnTextBlueNormal" PressedTextColor="UI_BtnTextBluePressed" FlybyTextColor="UI_BtnTextBlueFlyby" PressedFlybyTextColor="UI_BtnTextBluePressedFlyby" DisabledTextColor="UI_BtnTextBlueDisabled" NewWindowDepth="1">
                <Event Name="ButtonCheck" Function="OnShowModules"/>
                <Event Name="ButtonUncheck" Function="OnShowModules"/>
            </Control>
            <Control Class="Window" LAnchorPoint="0" LAnchorOffset="60" TAnchorPoint="1" TAnchorOffset="-83" RAnchorPoint="0" RAnchorOffset="215" BAnchorPoint="1" BAnchorOffset="-35" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="CurrentBalanceSection" TooltipColor="" Sprite="BK3:UI_BK3_Metal_Inset_SharpCorner" IgnoreMouse="1" NewWindowDepth="1" Border="1" Picture="1">
                <Control Class="Window" LAnchorPoint="0" LAnchorOffset="5" TAnchorPoint="0" TAnchorOffset="5" RAnchorPoint="1" RAnchorOffset="-5" BAnchorPoint="0" BAnchorOffset="25" RelativeToClient="1" Font="CRB_Interface9_B" Text="Current balance" BGColor="UI_WindowBGDefault" TextColor="gray" Template="Default" TooltipType="OnCursor" Name="BalanceLabel" TooltipColor="" TextId="" IgnoreMouse="1" NewWindowDepth="1" DT_RIGHT="0" DT_CENTER="1"/>
                <Control Class="CashWindow" LAnchorPoint="0" LAnchorOffset="10" TAnchorPoint="0" TAnchorOffset="20" RAnchorPoint="1" RAnchorOffset="-5" BAnchorPoint="1" BAnchorOffset="-5" TooltipType="OnCursor" RelativeToClient="1" Font="CRB_Interface9" Text="" Template="Default" BGColor="ffffffff" TextColor="gray" DT_RIGHT="0" Name="Balance" TooltipColor="" NewWindowDepth="1" SkipZeroes="1" DT_CENTER="1" DT_VCENTER="0"/>
            </Control>
        </Control>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="28" TAnchorPoint="0" TAnchorOffset="51" RAnchorPoint="1" RAnchorOffset="-28" BAnchorPoint="0" BAnchorOffset="126" RelativeToClient="0" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="CurrencySelectorSection" TooltipColor="" IgnoreMouse="0" NoClip="1" TestAlpha="1" DT_VCENTER="0">
            <Control Class="Button" Base="BK3:btnMetal_TabMainLeft_Small" Font="CRB_Button" ButtonType="Check" RadioGroup="PurchaseConfirmation_CurrencySelection" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="0.18" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="0" DT_VCENTER="1" DT_CENTER="1" BGColor="ffffffff" TextColor="ffffffff" NormalTextColor="UI_BtnTextGoldListNormal" PressedTextColor="UI_BtnTextGoldListPressed" FlybyTextColor="UI_BtnTextGoldListFlyby" PressedFlybyTextColor="UI_BtnTextGoldListPressedFlyby" DisabledTextColor="UI_BtnTextGoldListDisabled" TooltipType="OnCursor" Name="CurrencyBtn1" TooltipColor="" NewWindowDepth="1" Text="" TextId="Login_Credits" GlobalRadioGroup="" RadioDisallowNonSelection="1" WindowSoundTemplate="SelectTabPhys" DT_WORDBREAK="1">
                <Event Name="ButtonCheck" Function="OnCurrencySelection"/>
            </Control>
            <Control Class="Button" Base="BK3:btnMetal_TabManMid_Small" Font="CRB_Button" ButtonType="Check" RadioGroup="PurchaseConfirmation_CurrencySelection" LAnchorPoint="0.18" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="0.34" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="0" DT_VCENTER="1" DT_CENTER="1" BGColor="ffffffff" TextColor="ffffffff" NormalTextColor="UI_BtnTextGoldListNormal" PressedTextColor="UI_BtnTextGoldListPressed" FlybyTextColor="UI_BtnTextGoldListFlyby" PressedFlybyTextColor="UI_BtnTextGoldListPressedFlyby" DisabledTextColor="UI_BtnTextGoldListDisabled" TooltipType="OnCursor" Name="CurrencyBtn2" TooltipColor="" NewWindowDepth="1" Text="" TextId="CRB_Renown" GlobalRadioGroup="" RadioDisallowNonSelection="1" WindowSoundTemplate="SelectTabPhys" DT_WORDBREAK="1">
                <Event Name="ButtonCheck" Function="OnCurrencySelection"/>
            </Control>
            <Control Class="Button" Base="BK3:btnMetal_TabManMid_Small" Font="CRB_Button" ButtonType="Check" RadioGroup="PurchaseConfirmation_CurrencySelection" LAnchorPoint="0.34" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="0.50" RAnchorOffset="" BAnchorPoint="1" BAnchorOffset="0" DT_VCENTER="1" DT_CENTER="1" BGColor="ffffffff" TextColor="ffffffff" NormalTextColor="UI_BtnTextGoldListNormal" PressedTextColor="UI_BtnTextGoldListPressed" FlybyTextColor="UI_BtnTextGoldListFlyby" PressedFlybyTextColor="UI_BtnTextGoldListPressedFlyby" DisabledTextColor="UI_BtnTextGoldListDisabled" TooltipType="OnCursor" Name="CurrencyBtn3" TooltipColor="" NewWindowDepth="1" Text="" TextId="CRB_Prestige" GlobalRadioGroup="" RadioDisallowNonSelection="1" WindowSoundTemplate="SelectTabPhys" DT_WORDBREAK="1">
                <Event Name="ButtonCheck" Function="OnCurrencySelection"/>
            </Control>
            <Control Class="Button" Base="BK3:btnMetal_TabManMid_Small" Font="CRB_Button" ButtonType="Check" RadioGroup="PurchaseConfirmation_CurrencySelection" LAnchorPoint="0.50" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="0.66" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="0" DT_VCENTER="1" DT_CENTER="1" BGColor="ffffffff" TextColor="ffffffff" NormalTextColor="UI_BtnTextGoldListNormal" PressedTextColor="UI_BtnTextGoldListPressed" FlybyTextColor="UI_BtnTextGoldListFlyby" PressedFlybyTextColor="UI_BtnTextGoldListPressedFlyby" DisabledTextColor="UI_BtnTextGoldListDisabled" TooltipType="OnCursor" Name="CurrencyBtn4" TooltipColor="" NewWindowDepth="1" Text="" TextId="DialogResponse_CraftingStation" GlobalRadioGroup="" RadioDisallowNonSelection="1" WindowSoundTemplate="SelectTabPhys" DT_WORDBREAK="1">
                <Event Name="ButtonCheck" Function="OnCurrencySelection"/>
            </Control>
            <Control Class="Button" Base="BK3:btnMetal_TabManMid_Small" Font="CRB_Button" ButtonType="Check" RadioGroup="PurchaseConfirmation_CurrencySelection" LAnchorPoint="0.66" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="0.82" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="0" DT_VCENTER="1" DT_CENTER="1" BGColor="ffffffff" TextColor="ffffffff" NormalTextColor="UI_BtnTextGoldListNormal" PressedTextColor="UI_BtnTextGoldListPressed" FlybyTextColor="UI_BtnTextGoldListFlyby" PressedFlybyTextColor="UI_BtnTextGoldListPressedFlyby" DisabledTextColor="UI_BtnTextGoldListDisabled" TooltipType="OnCursor" Name="CurrencyBtn5" TooltipColor="" NewWindowDepth="1" Text="" TextId="CRB_Elder_Gems" GlobalRadioGroup="" RadioDisallowNonSelection="1" WindowSoundTemplate="SelectTabPhys" DT_WORDBREAK="1">
                <Event Name="ButtonCheck" Function="OnCurrencySelection"/>
            </Control>
            <Control Class="Button" Base="BK3:btnMetal_TabMainRight_Small" Font="CRB_Button" ButtonType="Check" RadioGroup="PurchaseConfirmation_CurrencySelection" LAnchorPoint="0.82" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="0" DT_VCENTER="1" DT_CENTER="1" BGColor="ffffffff" TextColor="ffffffff" NormalTextColor="UI_BtnTextGoldListNormal" PressedTextColor="UI_BtnTextGoldListPressed" FlybyTextColor="UI_BtnTextGoldListFlyby" PressedFlybyTextColor="UI_BtnTextGoldListPressedFlyby" DisabledTextColor="UI_BtnTextGoldListDisabled" TooltipType="OnCursor" Name="CurrencyBtn6" TooltipColor="" NewWindowDepth="1" Text="" TextId="CRB_Glory" GlobalRadioGroup="" RadioDisallowNonSelection="1" WindowSoundTemplate="SelectTabPhys" DT_WORDBREAK="1">
                <Event Name="ButtonCheck" Function="OnCurrencySelection"/>
            </Control>
        </Control>
    </Form>
    <Form Class="Window" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="0" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="SettingsCurrencyTabForm" TooltipColor="" IgnoreMouse="1" NewWindowDepth="1" Tooltip="">
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0.25" BAnchorOffset="-5" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Holo_ScrollList" TooltipType="OnCursor" Name="FixedSection" TooltipColor="" Sprite="" Visible="1" TextId="" Picture="0" IgnoreMouse="1" Border="1" Tooltip="" NewWindowDepth="1">
            <Control Class="Window" LAnchorPoint="0" LAnchorOffset="56" TAnchorPoint="0" TAnchorOffset="13" RAnchorPoint="1" RAnchorOffset="-15" BAnchorPoint="0" BAnchorOffset="40" RelativeToClient="1" Font="CRB_Dialog" Text="Enable upper threshold:" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="EnableButtonLabel" TooltipColor="" TextId="" DT_CENTER="0" Sprite="" DT_VCENTER="1" IgnoreMouse="1" NewWindowDepth="1"/>
            <Control Class="Window" LAnchorPoint="0" LAnchorOffset="15" TAnchorPoint="0" TAnchorOffset="50" RAnchorPoint="1" RAnchorOffset="-15" BAnchorPoint="1" BAnchorOffset="-15" RelativeToClient="1" Font="CRB_InterfaceSmall_I" Text="Always request confirmation for purchases above this amount. " BGColor="UI_WindowBGDefault" TextColor="xkcdSilver" Template="Default" TooltipType="OnCursor" Name="Description" TooltipColor="" TextId="" DT_WORDBREAK="1" IgnoreMouse="1" NewWindowDepth="1" DT_VCENTER="1" DT_CENTER="0" DT_BOTTOM="0"/>
            <Control Class="Button" Base="BK3:btnMetal_Checkbox" Font="DefaultButton" ButtonType="Check" RadioGroup="" LAnchorPoint="0" LAnchorOffset="12" TAnchorPoint="0" TAnchorOffset="11" RAnchorPoint="0" RAnchorOffset="60" BAnchorPoint="0" BAnchorOffset="59" DT_VCENTER="1" DT_CENTER="0" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="EnableButton" TooltipColor="" Text="" TextId="" Tooltip="" NewWindowDepth="1">
                <Event Name="ButtonSignal" Function="YourFunctionName"/>
            </Control>
            <Control Class="CashWindow" LAnchorPoint="0" LAnchorOffset="100" TAnchorPoint="0" TAnchorOffset="14" RAnchorPoint="1" RAnchorOffset="-15" BAnchorPoint="0" BAnchorOffset="41" TooltipType="OnCursor" RelativeToClient="1" Font="CRB_InterfaceSmall" Text="" Template="Default" BGColor="ffffffff" TextColor="ffffffff" DT_RIGHT="1" Name="Amount" TooltipColor="" AllowEditing="1" SkipZeroes="1" DT_VCENTER="1" NewWindowDepth="1"/>
        </Control>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0.25" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint=".5" BAnchorOffset="-5" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Holo_ScrollList" TooltipType="OnCursor" Name="PunySection" TooltipColor="" Sprite="" Visible="1" TextId="" Picture="0" IgnoreMouse="1" Border="1" Tooltip="" NewWindowDepth="1">
            <Control Class="Window" LAnchorPoint="0" LAnchorOffset="56" TAnchorPoint="0" TAnchorOffset="13" RAnchorPoint="1" RAnchorOffset="-15" BAnchorPoint="0" BAnchorOffset="40" RelativeToClient="1" Font="CRB_Dialog" Text="Enable puny amount threshold:" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="EnableButtonLabel" TooltipColor="" TextId="" DT_CENTER="0" Sprite="" DT_VCENTER="1" IgnoreMouse="1" NewWindowDepth="1"/>
            <Control Class="Window" LAnchorPoint="0" LAnchorOffset="15" TAnchorPoint="0" TAnchorOffset="50" RAnchorPoint="1" RAnchorOffset="-15" BAnchorPoint="1" BAnchorOffset="-15" RelativeToClient="1" Font="CRB_InterfaceSmall_I" Text="Never request confirmation for purchases below this amount, and do not use the purchase in &quot;average spending&quot; threshold calculations." BGColor="UI_WindowBGDefault" TextColor="xkcdSilver" Template="Default" TooltipType="OnCursor" Name="Description" TooltipColor="" TextId="" DT_WORDBREAK="1" IgnoreMouse="1" NewWindowDepth="1" DT_VCENTER="1"/>
            <Control Class="Button" Base="BK3:btnMetal_Checkbox" Font="DefaultButton" ButtonType="Check" RadioGroup="" LAnchorPoint="0" LAnchorOffset="12" TAnchorPoint="0" TAnchorOffset="11" RAnchorPoint="0" RAnchorOffset="60" BAnchorPoint="0" BAnchorOffset="59" DT_VCENTER="1" DT_CENTER="0" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="EnableButton" TooltipColor="" Text="" TextId="" Tooltip="" NewWindowDepth="1">
                <Event Name="ButtonSignal" Function="YourFunctionName"/>
            </Control>
            <Control Class="CashWindow" LAnchorPoint="0" LAnchorOffset="100" TAnchorPoint="0" TAnchorOffset="14" RAnchorPoint="1" RAnchorOffset="-15" BAnchorPoint="0" BAnchorOffset="41" TooltipType="OnCursor" RelativeToClient="1" Font="CRB_InterfaceSmall" Text="" Template="Default" BGColor="ffffffff" TextColor="ffffffff" DT_RIGHT="1" Name="Amount" TooltipColor="" AllowEditing="1" SkipZeroes="1" DT_VCENTER="1" NewWindowDepth="1"/>
        </Control>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0.5" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0.75" BAnchorOffset="-5" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Holo_ScrollList" TooltipType="OnCursor" Name="AverageSection" TooltipColor="" Sprite="" Visible="1" TextId="" Picture="0" IgnoreMouse="1" Border="1" NewWindowDepth="1">
            <Control Class="Window" LAnchorPoint="0" LAnchorOffset="56" TAnchorPoint="0" TAnchorOffset="13" RAnchorPoint="1" RAnchorOffset="-15" BAnchorPoint="0" BAnchorOffset="40" RelativeToClient="1" Font="CRB_Dialog" Text="Enable &quot;average spending&quot; threshold [1-100%]:" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="EnableButtonLabel" TooltipColor="" TextId="" DT_CENTER="0" Sprite="" DT_VCENTER="1" IgnoreMouse="1" NewWindowDepth="1"/>
            <Control Class="Window" LAnchorPoint="1" LAnchorOffset="-30" TAnchorPoint="0" TAnchorOffset="13" RAnchorPoint="1" RAnchorOffset="-10" BAnchorPoint="0" BAnchorOffset="40" RelativeToClient="1" Font="CRB_Dialog" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="PercentSign" TooltipColor="" TextId="CRB_PercentSignOnly" DT_VCENTER="1" IgnoreMouse="1" NewWindowDepth="1" DT_RIGHT="0" DT_CENTER="0"/>
            <Control Class="Window" LAnchorPoint="0" LAnchorOffset="15" TAnchorPoint="0" TAnchorOffset="50" RAnchorPoint="1" RAnchorOffset="-15" BAnchorPoint="1" BAnchorOffset="-15" RelativeToClient="1" Font="CRB_InterfaceSmall_I" Text="Request confirmation if purchase price is more than the specified percentage above the average of your recent purchase history." BGColor="UI_WindowBGDefault" TextColor="xkcdSilver" Template="Default" TooltipType="OnCursor" Name="Description" TooltipColor="" TextId="" DT_WORDBREAK="1" IgnoreMouse="1" NewWindowDepth="1" DT_VCENTER="0"/>
            <Control Class="Button" Base="BK3:btnMetal_Checkbox" Font="DefaultButton" ButtonType="Check" RadioGroup="" LAnchorPoint="0" LAnchorOffset="12" TAnchorPoint="0" TAnchorOffset="11" RAnchorPoint="0" RAnchorOffset="60" BAnchorPoint="0" BAnchorOffset="59" DT_VCENTER="1" DT_CENTER="0" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="EnableButton" TooltipColor="" Text="" TextId="" Tooltip="" NewWindowDepth="1">
                <Event Name="ButtonSignal" Function="YourFunctionName"/>
            </Control>
            <Control Class="EditBox" LAnchorPoint="1" LAnchorOffset="-69" TAnchorPoint="0" TAnchorOffset="13" RAnchorPoint="1" RAnchorOffset="-29" BAnchorPoint="0" BAnchorOffset="40" RelativeToClient="1" Font="CRB_Dialog" Text="75" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="PercentEditBox" TooltipColor="" TextId="" ReadOnly="0" DT_RIGHT="1" Password="0" DT_SINGLELINE="1" Border="0" DT_VCENTER="1" NewWindowDepth="1"/>
        </Control>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0.75" TAnchorOffset="" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="-5" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Holo_ScrollList" TooltipType="OnCursor" Name="EmptyCoffersSection" TooltipColor="" Sprite="" Visible="1" TextId="" Picture="0" IgnoreMouse="1" Border="1" Tooltip="" NewWindowDepth="1">
            <Control Class="Window" LAnchorPoint="0" LAnchorOffset="56" TAnchorPoint="0" TAnchorOffset="13" RAnchorPoint="1" RAnchorOffset="-15" BAnchorPoint="0" BAnchorOffset="40" RelativeToClient="1" Font="CRB_Dialog" Text="Enable &quot;empty coffers&quot; threshold [1-100%]:" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="EnableButtonLabel" TooltipColor="" TextId="" DT_CENTER="0" Sprite="" DT_VCENTER="1" IgnoreMouse="1" NewWindowDepth="1"/>
            <Control Class="Window" LAnchorPoint="1" LAnchorOffset="-30" TAnchorPoint="0" TAnchorOffset="13" RAnchorPoint="1" RAnchorOffset="-10" BAnchorPoint="0" BAnchorOffset="40" RelativeToClient="1" Font="CRB_Dialog" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="PercentSign" TooltipColor="" TextId="CRB_PercentSignOnly" DT_VCENTER="1" IgnoreMouse="1" NewWindowDepth="1" DT_RIGHT="0"/>
            <Control Class="Window" LAnchorPoint="0" LAnchorOffset="15" TAnchorPoint="0" TAnchorOffset="50" RAnchorPoint="1" RAnchorOffset="-15" BAnchorPoint="1" BAnchorOffset="-15" RelativeToClient="1" Font="CRB_InterfaceSmall_I" Text="Request confirmation if purchase cost more than the specified percentage of your current balance." BGColor="UI_WindowBGDefault" TextColor="xkcdSilver" Template="Default" TooltipType="OnCursor" Name="Description" TooltipColor="" TextId="" DT_WORDBREAK="1" IgnoreMouse="1" NewWindowDepth="1" DT_VCENTER="1"/>
            <Control Class="Button" Base="BK3:btnMetal_Checkbox" Font="DefaultButton" ButtonType="Check" RadioGroup="" LAnchorPoint="0" LAnchorOffset="12" TAnchorPoint="0" TAnchorOffset="11" RAnchorPoint="0" RAnchorOffset="60" BAnchorPoint="0" BAnchorOffset="59" DT_VCENTER="1" DT_CENTER="0" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="EnableButton" TooltipColor="" Text="" TextId="" Tooltip="" NewWindowDepth="1">
                <Event Name="ButtonSignal" Function="YourFunctionName"/>
            </Control>
            <Control Class="EditBox" LAnchorPoint="1" LAnchorOffset="-69" TAnchorPoint="0" TAnchorOffset="13" RAnchorPoint="1" RAnchorOffset="-29" BAnchorPoint="0" BAnchorOffset="40" RelativeToClient="1" Font="CRB_Dialog" Text="50" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="PercentEditBox" TooltipColor="" TextId="" ReadOnly="0" DT_RIGHT="1" Password="0" DT_SINGLELINE="1" Border="0" HideInEditor="0" DT_VCENTER="1" NewWindowDepth="1"/>
        </Control>
    </Form>
    <Form Class="Window" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0" BAnchorOffset="120" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Holo_ScrollList" TooltipType="OnCursor" Name="ModulesLineForm" TooltipColor="" Sprite="" Visible="1" TextId="" Picture="0" IgnoreMouse="1" Border="1" Tooltip="" NewWindowDepth="1" TooltipId="">
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="56" TAnchorPoint="0" TAnchorOffset="13" RAnchorPoint="1" RAnchorOffset="-15" BAnchorPoint="0" BAnchorOffset="40" RelativeToClient="1" Font="CRB_Dialog" Text="Enable module &quot;VendorPurchase&quot;" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="EnableButtonLabel" TooltipColor="" TextId="" DT_CENTER="0" Sprite="" DT_VCENTER="1" IgnoreMouse="1" NewWindowDepth="1"/>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="15" TAnchorPoint="0" TAnchorOffset="55" RAnchorPoint="1" RAnchorOffset="-15" BAnchorPoint="1" BAnchorOffset="-15" RelativeToClient="1" Font="CRB_InterfaceSmall_I" Text="This module intercepts item purchases in the Vendor-addon. This covers all the regular vendors of fine items, scattered throughout Nexus.... and Lorem Ipsum etc..." BGColor="UI_WindowBGDefault" TextColor="xkcdSilver" Template="Default" TooltipType="OnCursor" Name="Description" TooltipColor="" TextId="" DT_WORDBREAK="1" IgnoreMouse="1" NewWindowDepth="1" DT_VCENTER="0" DT_CENTER="0" DT_BOTTOM="0"/>
        <Control Class="Button" Base="BK3:btnMetal_Checkbox" Font="DefaultButton" ButtonType="Check" RadioGroup="" LAnchorPoint="0" LAnchorOffset="12" TAnchorPoint="0" TAnchorOffset="11" RAnchorPoint="0" RAnchorOffset="60" BAnchorPoint="0" BAnchorOffset="59" DT_VCENTER="1" DT_CENTER="0" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="EnableButton" TooltipColor="" Text="" TextId="" Tooltip="" NewWindowDepth="1" Template="Default">
            <Event Name="ButtonSignal" Function="YourFunctionName"/>
        </Control>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="10" TAnchorPoint="0" TAnchorOffset="7" RAnchorPoint="0" RAnchorOffset="53" BAnchorPoint="0" BAnchorOffset="47" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="FailureNotification" TooltipColor="" Sprite="ClientSprites:LootCloseBox" IgnoreMouse="1" NewWindowDepth="1" Picture="1" HideInEditor="0" Tooltip="" Visible="0"/>
    </Form>
</Forms>
