<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<Forms>
    <Form Class="Window" LAnchorPoint="0.5" LAnchorOffset="-200" TAnchorPoint="0.5" TAnchorOffset="-150" RAnchorPoint="0.5" RAnchorOffset="200" BAnchorPoint="0.5" BAnchorOffset="150" RelativeToClient="1" Font="CRB_Pixel_O" Text="" Template="Default" Name="WYBMNReduxSettings" Border="0" Picture="1" SwallowMouseClicks="1" Moveable="1" Escapable="0" Overlapped="1" BGColor="98000000" TextColor="ffffffff" TextId="" TooltipColor="" Tooltip="" Sprite="BasicSprites:WhiteFill" DT_CENTER="1">
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0" BAnchorOffset="25" RelativeToClient="1" Font="CRB_Pixel_O" Text="" BGColor="4C000000" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="headerInfo" TooltipColor="" Sprite="BasicSprites:WhiteFill" Picture="1" IgnoreMouse="1" TextId="Launcher_RemoveSettings" DT_CENTER="1" DT_VCENTER="1">
            <Control Class="Button" Base="CRB_Raid:sprRaid_Icon_NotReadyBright" Font="Thick" ButtonType="PushButton" RadioGroup="" LAnchorPoint="1" LAnchorOffset="-20" TAnchorPoint="0.5" TAnchorOffset="-7" RAnchorPoint="1" RAnchorOffset="-4" BAnchorPoint="0.5" BAnchorOffset="9" DT_VCENTER="1" DT_CENTER="1" Name="btnClose" BGColor="ffffffff" TextColor="ffffffff" NewControlDepth="2" WindowSoundTemplate="CloseWindowPhys" Text="" TextId="" TooltipColor="" NormalTextColor="ffffffff" PressedTextColor="ffffffff" FlybyTextColor="ffffffff" PressedFlybyTextColor="ffffffff" DisabledTextColor="ffffffff" Sprite="" Tooltip="Close this window." TooltipId="" TooltipFont="CRB_Pixel_O" TooltipType="OnCursor">
                <Event Name="ButtonSignal" Function="Toggle"/>
            </Control>
        </Control>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="25" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="-90" RelativeToClient="1" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="wndSettings" TooltipColor="" Tooltip="">
            <Control Class="Button" Base="HologramSprites:HoloCheckBoxBtn" Font="CRB_Pixel_O" ButtonType="Check" RadioGroup="" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0" BAnchorOffset="30" DT_VCENTER="1" DT_CENTER="0" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="btnAutoToggle" TooltipColor="" Text="Auto-display in Housing System" TextId="" DrawAsCheckbox="1" Tooltip="Automatically switch window visibility if in a housing area." TooltipId="" TooltipFont="CRB_Pixel_O">
                <Event Name="ButtonCheck" Function="OnBtnAutoToggle"/>
                <Event Name="ButtonUncheck" Function="OnBtnAutoToggle"/>
            </Control>
            <Control Class="Button" Base="HologramSprites:HoloCheckBoxBtn" Font="CRB_Pixel_O" ButtonType="Check" RadioGroup="" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="30" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0" BAnchorOffset="60" DT_VCENTER="1" DT_CENTER="0" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="btnAddonComms" TooltipColor="" Text="Use addon comm channels" TextId="" DrawAsCheckbox="1" Tooltip="Use communication channels. REQUIRED for new neighbour search. NOTE: switching this option requires /reloadui." TooltipId="" TooltipFont="CRB_Pixel_O">
                <Event Name="ButtonCheck" Function="OnBtnAddonComms"/>
                <Event Name="ButtonUncheck" Function="OnBtnAddonComms"/>
            </Control>
             <Control Class="Button" Base="HologramSprites:HoloCheckBoxBtn" Font="CRB_Pixel_O" ButtonType="Check" RadioGroup="" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="90" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0" BAnchorOffset="120" DT_VCENTER="1" DT_CENTER="0" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="btnAutoAccept" TooltipColor="" Text="Automatically accept neighbour invites" TextId="" DrawAsCheckbox="1" Tooltip="Automatically accept neighbour invites." TooltipId="" TooltipFont="CRB_Pixel_O">
                <Event Name="ButtonCheck" Function="OnBtnAutoAccept"/>
                <Event Name="ButtonUncheck" Function="OnBtnAutoAccept"/>
            </Control>
            <Control Class="Button" Base="HologramSprites:HoloCheckBoxBtn" Font="CRB_Pixel_O" ButtonType="Check" RadioGroup="" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="120" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0" BAnchorOffset="150" DT_VCENTER="1" DT_CENTER="0" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="btnAutoDecline" TooltipColor="" Text="Automatically decline neighbour invites not matching filters" TextId="" DrawAsCheckbox="1" Tooltip="Automatically decline neighbour invites not matching filters You have set in Neigbour Search." TooltipId="" TooltipFont="CRB_Pixel_O">
                <Event Name="ButtonCheck" Function="OnBtnAutoDecline"/>
                <Event Name="ButtonUncheck" Function="OnBtnAutoDecline"/>
            </Control>
            <Control Class="Button" Base="HologramSprites:HoloCheckBoxBtn" Font="CRB_Pixel_O" ButtonType="Check" RadioGroup="" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="150" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="0" BAnchorOffset="180" DT_VCENTER="1" DT_CENTER="0" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="btnNoDeclineGuild" TooltipColor="" Text="Do NOT automatically decline guild &amp; circle members" TextId="" DrawAsCheckbox="1" Tooltip="Do NOT automatically decline guild &amp; circle members even if they do not match filters." TooltipId="" TooltipFont="CRB_Pixel_O">
                <Event Name="ButtonCheck" Function="OnBtnNoDeclineGuild"/>
                <Event Name="ButtonUncheck" Function="OnBtnNoDeclineGuild"/>
            </Control>
        </Control>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="1" TAnchorOffset="-90" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="0" RelativeToClient="1" Font="CRB_Pixel_O" Text="" BGColor="4C000000" TextColor="UI_WindowTextDefault" Template="Default" TooltipType="OnCursor" Name="interfaceButtons" TooltipColor="" Sprite="BasicSprites:WhiteFill" Picture="1" IgnoreMouse="1">
            <Control Class="Button" Base="BK3:btnHolo_Blue_Med" Font="CRB_Pixel_O" ButtonType="PushButton" RadioGroup="" LAnchorPoint="0.1" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="-5" RAnchorPoint="0.9" RAnchorOffset="0" BAnchorPoint="0.5" BAnchorOffset="5" DT_VCENTER="1" DT_CENTER="1" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="btnSettingsShareRatios" TooltipColor="" Text="Set share ratios" TextId="">
                <Event Name="ButtonSignal" Function="OnBtnSetShareRatio"/>
            </Control>
            <Control Class="Button" Base="BK3:btnHolo_Blue_Med" Font="CRB_Pixel_O" ButtonType="PushButton" RadioGroup="" LAnchorPoint="0.1" LAnchorOffset="0" TAnchorPoint="0.5" TAnchorOffset="-5" RAnchorPoint="0.45" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="5" DT_VCENTER="1" DT_CENTER="1" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="btnSettingsReset" TooltipColor="" Text="Reset to default" TextId="" Tooltip="Reset settings to default values." TooltipId="" TooltipFont="CRB_Pixel_O">
                <Event Name="ButtonSignal" Function="OnBtnReset"/>
            </Control>
            <Control Class="Button" Base="BK3:btnHolo_Blue_Med" Font="CRB_Pixel_O" ButtonType="PushButton" RadioGroup="" LAnchorPoint="0.55" LAnchorOffset="0" TAnchorPoint="0.5" TAnchorOffset="-5" RAnchorPoint="0.9" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="5" DT_VCENTER="1" DT_CENTER="1" BGColor="UI_BtnBGDefault" TextColor="UI_BtnTextDefault" NormalTextColor="UI_BtnTextDefault" PressedTextColor="UI_BtnTextDefault" FlybyTextColor="UI_BtnTextDefault" PressedFlybyTextColor="UI_BtnTextDefault" DisabledTextColor="UI_BtnTextDefault" TooltipType="OnCursor" Name="btnSettingsClose" TooltipColor="" Text="" TextId="CRB_Close" Tooltip="Close this window." TooltipId="" TooltipFont="CRB_Pixel_O">
                <Event Name="ButtonSignal" Function="Toggle"/>
            </Control>
        </Control>
    </Form>
</Forms>
